@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Itim&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
	--theme-blue :#090c9b;
	--theme-white : #f8faf2b7;
	--theme-pwhite : #ffffff;
	--theme-blue-light : #b4c5e4;
	--theme-browm : #3c3744;
	--theme-skyblue : #3066be;
	--theme-lskyblue : #60a0ff;
	--font-cour : 'Courgette', cursive;
	--font-itim :'Itim', cursive;
	--font-mono: 'Montserrat', sans-serif;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body{
	background-color: var(--theme-white);
	font-family: var(--font-mono);
}
header{
	padding: 0.5em;
	position: fixed;
    width: 100%;
    z-index: 9;
    backdrop-filter: blur(40px) ;	
    border-bottom: 1px solid rgba(255,255,255,0.1);
    background-color: rgba(0,0,0,0.2);
}
.logo_size {
    width: 1.75rem;
}
.nav-top{
	width: 64rem;
	margin: auto;
	display: flex;
	align-items: center;
}
.nav-name{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.nav-name ol a{
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 0.06em;
	
}
.not-active{
	color: var(--theme-pwhite) !important;
	
}
.nav-name ol a:hover{
	text-decoration: none;
	color: var(--theme-blue-light) !important;
}
.active{
	color: var(--theme-lskyblue) !important;
;
	
}

nav ul {
	margin: 0px !important;
	
}